@page "{sectionId:int}"
@model JoinModel


<h1>Join Section</h1>

<h3>Do you really want to join this Section?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Section.CountOfMembers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Section.CountOfMembers)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Section.Id" />
        <input type="submit" value="Join" class="btn btn-success" /> |
        <a asp-Page="./Index">Back to List</a>
    </form>
</div>